@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

body {
    margin: 0;
    border-radius: 3px;
    font-family: 'Oxygen', sans-serif;
    background: white;
}

button {
    font-family: 'Oxygen', sans-serif;
    background: darkslategray;
    border-radius: 3px;
    border: none;
    width: 50%;
    height: 3vh;
    color: white;
}

.smallContainer {
    margin: 2%;
}

.headerDiv {
    box-sizing: border-box;
    border: 1px solid black;
    text-align: center;
    padding: 4%;
    background: darkslategray;
    color: white;
    margin-top: 2%;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    font-size: 130%;
    width:
}

.nav {
    display: flex;
    padding: 2%;
    background: darkslategray;
    margin-top: 2%;
    padding-bottom: 4%;
    border-radius: 20px
}

.userNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

.greetUser {
    color: white;
}

.SignContainer{
  display: flex;
  flex-direction:
}

.logContainer{
  width: 158px
}

.logOutBtn {
    border-radius: 3px;
    background: gainsboro;
    color: black;
    height: 4vh;
    width: 10vh;
    margin-left: 2%;
    cursor: pointer
}

.logOutBtn:hover{
  background-color: white;
  color: darkslategray
}

.LoginDrop:hover{
  font-weight: bolder;
}

.Createbt:hover{
  font-weight: bolder;
}

.noUserNav {
    color: white;
    display: flex;
    width: 35%;
    height: 50%;
    gap: 9vw;
    font-family: 'Comfortaa', cursive;
}

.registerBtn {
    border-radius: 3px;
    background: gainsboro;
    border: none;
    width: 50%;
    height: 4vh;
    margin-top: 2%;
    cursor: pointer
}

.registerBtn{
  background-color: white;
  color: darkslategray
}

.loginBtn {
    border-radius: 3px;
    background: gainsboro;
    border: none;
    width: 50%;
    height: 4vh;
    margin-top: 2%;
    cursor: pointer;
}

.loginBtn{
  background-color: white;
  color: darkslategray
}

.calories {
    text-align: center;
    background: darkslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 70vh;
    border-radius: 20px
}

.Calsentr{
  padding-left: 1vh
}

.barChart {
    display: flex;
    height: 50vh;
    width: 50vw;
}

.entries {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-between;
    margin-bottom: 2%;
}

.entry {
    background: darkslategray;
    padding-left: 2.5%;
    margin-top: 8%;
    color: white;
    border-radius: 20px
}

.entryName {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.imgOne {
    max-width: 26.8vw;
    max-height: 26.8vh;
}

.imgCont{
  display: flex;
  justify-content: center;
  align-content: center;
}

.add {
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.addBtn {
    border: none;
    border-radius: 3px;
    background: darkslategray;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 30vw;
    height: 3vh;
    cursor: pointer
}

.addBtn:hover{
  background-color: gainsboro;
  color: darkslategray
}

.addComp {
  background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
}

.addCompTextbox {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: center;

}

.searchCals {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}

.searchBtn {
    border: none;
    border-radius: 3px;
    background: darkslategray;
    color: white;
    height: 3vh;
    width: 50%;
    margin-top: 3%;
    cursor: pointer
}

.searchBtn:hover{
  background-color: white;
  color: darkslategray;
}

.calSearch {
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    width: 50%;
    padding: 2%;
    background: darkslategray;
    color: white;
}

.addForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.addFormField {
    width: 30vw;
    height: 4vh;
}

.addSubmit {
    border: none;
    border-radius: 3px;
    background: darkslategray;
    color: white;
    height: 3vh;
    width: 50%;
    cursor: pointer
}

.addSubmit:hover{
  background-color: white;
  color: darkslategray
}

.addClose {
    border: none;
    border-radius: 3px;
    background: darkslategray;
    width: 50%;
    height: 3vh;
    position: absolute;
    left: 45%;
    bottom: 10%;
    cursor: pointer;
}

.addClose:hover{
  background-color: white;
  color: darkslategray
}

.bodyBot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.deleteBtn {
    margin-bottom: 4%;
    background: gainsboro;
    color: black;
    cursor: pointer;
    width: 70%;
    margin-left: 1vh
}

.deleteBtn:hover{
  background-color: white;
  color: darkslategray
}

.editForm {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
}

.editFormField {
    width: 85%;
    height: 2.5vh;
}

.editSubmit {
    width: 50%;
    height: 3vh;
    margin-top: 2%;
    border: none;
    border-radius: 3px;
    background: darkslategray;
    color: white;
    cursor: pointer;
    width: 70%
}

.editSubmit:hover {
    background-color: white;
    color: darkslategray
}

.footerDiv {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    place-items: center;
    padding: 2%;
    background: darkslategray;
    color: white;
    margin-bottom: 2%;
    padding-top: 0.6%
}

.footerDiv > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerIcon {
    max-width: 2.2vw;
    max-height: 4vh;
    margin-left: 1vh;
    margin-right: 1vh;
    margin-top: -.6vh;
}

.timestamp{
  font-size: 70%;
  margin-left: 1vh
}
